.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0.8rem;
  width: 100%;
  height: 10.5rem;
  z-index: 999;
  transition: var(--animation);
}
.login {
  padding: 0.5rem 0;
  width: fit-content;
  margin-inline-start: auto;
  padding-inline-end: 5rem;
  transition: var(--animation);
  display: flex;
  gap: 0.8rem;
  align-items: flex-end;
  z-index: 2;
  span {
    font-size: 1.7rem;
    letter-spacing: 1px;
  }
  &:hover {
    * {
      color: var(--c-primary) !important;
    }
  }
}
.login * {
  transition: var(--animation);
  color: var(--c-white);
}
.navigationWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1.2rem;
  margin-top: auto;
  & > a {
    margin-inline-end: 1.6rem;
  }
  img {
    width: 23.4rem;
  }
}
.logo {
  color: var(--c-white);
  width: 20rem;
  padding-bottom: 0.5rem;
}
.navList {
  display: flex;
  color: var(--c-white);
  margin-inline-start: 0.2rem;
}
.navLink {
  padding: 0.4rem;
  padding-bottom: 0;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;
  font-family: var(--f-dinNext);
  letter-spacing: 0.3px;
  border-bottom: 2px solid transparent;
  transition: var(--animation);
}

.navLink:hover,
.navLink:hover span,
.navLink:hover svg *,
.navLink:focus span,
.navLink:focus svg * {
  color: var(--c-primary);
}
.navIcon {
  padding: 0 0.8rem;
}
.navLinkActive {
  font-weight: 700;
  border-bottom: 2px solid var(--c-primary);
  color: var(--c-primary) !important;
}
.menuBtn {
  display: none;
  background-color: initial;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  font-size: 1.25rem;
  line-height: 1;
  padding: 0.25rem 0.75rem;
  transition: var(--animation);
  img {
    height: 3rem;
    width: 3rem;
  }
  &:hover {
    background-color: var(--c-primary-bg);
  }
}
//////////////////////////
/// modifiers
.whiten {
  background-color: var(--c-white);
  box-shadow: 0 1px 4px 0 #00000052, 0 0 2px 0 #0003;
  .navList *,
  .login * {
    color: var(--c-gray);
  }
  .logo {
    color: var(--c-primary);
  }
}
////////////////////////
/// responsive
@media (max-width: 81.25rem) {
  // 1300px
  .navLink {
    font-size: 1.6rem;
  }
}
@media (max-width: 69.7rem) {
  //1115px
  .mrda {
    display: none;
  }
}
// 992
@media (max-width: 62rem) {
  .header {
    flex-direction: row;
    height: 8rem;
    align-items: center;
    background-color: var(--c-white);
    box-shadow: 0 1px 4px 0 #00000052, 0 0 2px 0 #0003;
  }
  .login {
    order: 2;
  }
  .navList *,
  .login * {
    color: var(--c-gray);
  }
  .logo {
    color: var(--c-primary);
  }
  .menuBtn {
    display: block;
    z-index: 999;
  }
  .navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    transform: translate(2px, 100%);
    overflow: hidden;
  }
  .navLink {
    transform: translateY(-5rem);
    opacity: 0;
    transition: all 1s;
  }
  .navigation--show {
    display: block;
  }
  .navigationItems--show {
    .navLink {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .navList {
    overflow-y: scroll;
    flex-direction: column;
    gap: 2.4rem;
    background-color: var(--c-white);
    height: 100vh;
    width: 90vw;
    padding: 0.8rem 2rem 10rem 0;
    border-top: 1px solid rgba(112, 112, 112, 0.8);
    .navLink span,
    .navLink {
      font-size: 2rem;
      color: var(--c-primary) !important;
    }
    &:focus * {
      text-shadow: -0.5px 0 currentColor, -0.5px 0 currentColor;
    }
  }
}
@media (max-width: 48em) {
  .login {
    display: none;
  }
  .logoWrapper {
    position: absolute;
    left: 16px;
    top: 19%;
  }
}
@media (max-width: 36rem) {
  .logo {
    width: 15rem;
  }
}
