.sectionNewsLine {
  height: 5.78rem;
  background-color: var(--c-white);
}
.newsList {
  display: flex;
}
.newsLink {
  font-family: var(--f-dinNext);
  font-size: 1.4rem;
  text-wrap: nowrap;
  color: #5c6581;
  margin-inline-start: 4rem;
  padding: 1.6rem 0;
}

.newsLink::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  border: 2px solid var(--c-primary);
  margin-inline-end: 0.6rem;
}
