.heading {
  color: var(--c-black);
  font-family: var(--f-dinNext);
  font-size: 3.6rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  padding-top: 1.5rem;
  text-align: center;
}
.headingLine {
  color: var(--c-accent);
  background: var(--c-accent);
  width: 8rem;
  height: 0.4rem;
  margin: 0 auto 1.5rem;
  border: none;
}
.partnersWrapper {
  position: relative;
}
.arrows {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 35%;
  display: flex;
  justify-content: space-between;
  button {
    transition: var(--animation);
    &:hover {
      transform: scale(1.5);
    }
  }
  img {
    height: 2rem;
  }
}
.partners {
  background: linear-gradient(180deg, #f9f9f900, #f9f9f9);
  padding-bottom: 4rem;
}
.partner {
  display: flex;
  justify-content: center;
}
.show {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.prevBtn,
.nextBtn {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 40%;
  z-index: 3;
  transition: var(--animation);
  &:hover {
    transform: scale(1.5);
  }
}
.prevBtn {
  right: 0.8rem;
}
.nextBtn {
  left: 0.8rem;
}
