@font-face {
  font-family: "dinNext";
  src: url("../fonts/DINNextLTArabic-Regular-3.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "geMedium";
  src: url("../fonts/GE_SS_Two_Medium.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --f-geMedium: "geMedium", sans-serif;
  --f-dinNext: "dinNext", sans-serif;

  --c-primary: #2e735f;
  --c-primary-hover: #588f7f;
  --c-primary-bg: #c4edda;
  --c-accent: #f2d785;
  --c-black: #3e3e3e;
  --c-gray: #707070;
  --c-white: #fff;
  --c-blue: #00b6bb;
  --c-blue-link: #0a58ca;

  --animation: all 0.3s;

  --radius-8: 8rem;
  --radius-6: 6rem;
  --radius-4: 4rem;
}
/********************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--f-dinNext);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--c-black);
  background-image: url(../src/assets/images/background.svg);
  background: linear-gradient(180deg, #f9f9f900, #f9f9f9);
  // background-color: var(--c-black);
  width: 100%;
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* overflow-x: clip; */
  /* scroll-padding-top: 12rem; */
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: inherit;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(46, 115, 95, 0.5);
}
input:focus {
  box-shadow: none;
}
.icon {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--c-gray);
  border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(46, 115, 95, 0.671);
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--c-primary-bg);
}
/*************************************************************/
/* General styles */

.container {
  width: 100%;
  max-width: 127rem;
  margin: 0 auto;
}
.greenArrowsWrapper {
  position: absolute;
  z-index: 3;
  left: 5px;
  right: 5px;
  top: 35%;
  display: flex;
  justify-content: space-between;
}
.greenArrow {
  height: 2rem;
  color: var(--c-primary);
  transition: var(--animation);
}
.greenArrow:hover {
  transform: scale(1.2);
}
.swiper-button-disabled {
  user-select: none;
  &:hover {
    transform: scale(0);
  }
}
.prevBtn {
  position: absolute;
  top: 40%;
  z-index: 3;
}
.nextBtn {
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 3;
}
.nextBtn:disabled,
.prevBtn:disabled {
  user-select: none;
  svg {
    color: var(--c-primary-bg);
  }
}

// 1115px  (header, map)
@media (max-width: 69.7rem) {
}
// 992  (header, statistics, news, events, partners, footer)
@media (max-width: 62rem) {
}
// 768  (stat, mob, events)
@media (max-width: 48rem) {
}
// 576px  (partners, footer)
@media (max-width: 36rem) {
}

//
